@using GW.WebUI.Helpers
@using GW.WebUI.Models
@model IEnumerable<GW.BLL.Models.AddressDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="addresses">   </div>

@section MyScript
{
    <script type="text/javascript">
    $(function() {
        $('body').on('click', '.mypaging', function () {
            alert($(this).text())
            $('#addresses').load("@Url.Action("Adresses","Address")", { currentPage: $(this).text() });
        })
    });
    </script>
}