

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div id="addresses">   </div>

@section MyScript
{
    <script type="text/javascript">
        $(function () {
            window.onload=function () {
                  $('#addresses').load("@Url.Action("Adresses","Address")", { currentPage: 1 })
            }
        
        $('body').on('click', '.mypaging', function () {
          
            $('#addresses').load("@Url.Action("Adresses","Address")", { currentPage: $(this).text() });
        })
    });
    </script>
}