html {
    margin: 0px;
    padding: 0px;
}
body {
    padding-top: 15px;
    padding-bottom: 20px;
    /*background-image: url("images/background3.jpg");
    background-repeat: no-repeat;*/
    color: white;
    height: 100vh;
}
/*--------------------------------------------------------------------
header
--------------------------------------------------------------------*/
header {
    margin: auto;
    height: 60px;
    width: 1140px;
    max-width: 1920px;
    min-width: 960px;
}
.logo img {
    height: 70px;
    z-index: 1;
}

/*img {
    padding-left: 130px;
}*/
.backgroundimg{
    position: fixed;
    z-index: -1;
    margin-top: -15px;

}
#DivMap {
    border: 1px solid Black;
    width: 1140px;
    height: 600px;
    margin-top: 30px;
}
#boxdiv{
    color:black;
}
.navbar-nav {
    font-size: 22px;
}
a {
    color: aliceblue;
}
.navbar-nav li a {
    margin-top: 11px;
    margin-left: 15px;
    padding: 10px 10px 10px 10px;
}
    .navbar-nav li a:hover {
        border: 1px solid white;
        background-color: #ffffff00;
        color: white;
        padding: 9px 9px 9px 9px;
    }
/*--------------------------------------------------------------------
header
--------------------------------------------------------------------*/
/*--------------------------------------------------------------------
home -> Index
--------------------------------------------------------------------*/

/*--------------------------------------------------------------------
home -> Index
--------------------------------------------------------------------*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

form {
    border: 1px solid #f2f2f2;
}
.myform {
    
    width: 1140px;
    margin: auto;
}
.ddl {
    padding: 10px;
}
.ddl label {
    color: white;
    font-size: 18px;
}
.ddl input {
    background-color: #ffffff00;
    width: 260px;
    color: white;
    border-width: 1px;
} 
.ddl datalist {

}
.ddl2 {
    margin-top: -20px;
}

.ddad input {
    background-color: #ffffff00;
    width: 260px;
    color: white;
    border-width: 1px;
    margin: 10px 10px 10px 10px;
    right: auto;
}

select {
    background-color: #ffffff00;
    width: 80px;
    color: white;
    border-width: 1px;
    margin: 10px 10px 10px 10px;
    right: auto;
}