html {
    margin: 0px;
    padding: 0px;
}
body {
    padding-top: 15px;
    padding-bottom: 20px;
    background-image: url("images/background3.jpg");
    background-repeat: no-repeat;
    color: white;
}
/*--------------------------------------------------------------------
header
--------------------------------------------------------------------*/
header {
    margin: auto;
    height: 60px;
    width: 1140px;
    max-width: 1920px;
    min-width: 960px;
}
.logo img{
    height: 70px;
}
/*img {
    padding-left: 130px;
}*/

.navbar-nav {
    font-size: 22px;
}
a {
    color: aliceblue;
}
.navbar-nav li a {
    margin-top: 11px;
    margin-left: 15px;
    padding: 10px 10px 10px 10px;
}
    .navbar-nav li a:hover {
        border: 1px solid white;
        background-color: #ffffff00;
        color: white;
        padding: 9px 9px 9px 9px;
    }
/*--------------------------------------------------------------------
header
--------------------------------------------------------------------*/
/*--------------------------------------------------------------------
home -> Index
--------------------------------------------------------------------*/
#map {
    height: 500px;
    width: 900px;
}
/*--------------------------------------------------------------------
home -> Index
--------------------------------------------------------------------*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
