@model IEnumerable<GW.BLL.Models.StreetDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="streets">   </div>

@section MyScript
{
    <script type="text/javascript">
        $(function () {
            window.onload=function () {
                $('#streets').load("@Url.Action("Streets","Street")", { currentPage: 1 })
            }

        $('body').on('click', '.mypaging', function () {

            $('#streets').load("@Url.Action("Streets", "Street")", { currentPage: $(this).text() });
        })
    });
    </script>
}