@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12 text-center">
        <p>ТУТ НУЖНО БУДЕТ ИЗДОЖИТЬ ИНФУ ПРО НАШУ КОМАНДУ И ОСТАВИТЬ ССЫЛКИ СОЦ.СЕТЕЙ И ДОНАТ</p>
    </div>
</div>