
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("addresses", "Index", "Address")
@Html.ActionLink("steets", "Index", "Street")
@Html.ActionLink("subdivisions", "Index", "Subdivision")
<h2>Index</h2>

