

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="subdivisions">   </div>

@section MyScript
{
    <script type="text/javascript">
        $(function () {
            window.onload=function () {
                $('#subdivisions').load("@Url.Action("Subdivisions", "Subdivision")", { currentPage: 1 })
            }

        $('body').on('click', '.mypaging', function () {

            $('#subdivisions').load("@Url.Action("Subdivisions", "Subdivision")", { currentPage: $(this).text() });
        })
    });
    </script>
}
